<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style/dashboard.css">
    <%- include('./partials/bootstrap-link.ejs') %>
    <%- include('./partials/table-link.ejs') %>
    <%- include('./partials/head.ejs') %>
</head>
<body>

    <!-- dashboard -->
    <%- include('./partials/nav.ejs') %>
    
    <!-- inventory view -->
    <div class="container mb-3 mt-3">
        
        <div class="row mb-2">
            <div class="col-8 h3">
                    Inventory: View Inventory
            </div>
        </div>
        
        <header class="text-center h3 bg-secondary">
            <br>
            Inventory
            <br>
            <p >As of today: <span id="current-date"></span></p>
            <br>
        </header>
    
        
    <!-- data table -->
        <table class="table table-bordered text-center" id="inventory_view_table">

            <thead>
                <th></th>
                <th scope="col">Product ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Brand</th>
                <th scope="col">Color</th>
                <th scope="col">SRP</th>
                <th scope="col">QTY On Hand</th>
                <th scope="col">Reorder Point</th>
                <th scope="col">Availability</th>
            </thead>
            <tbody>
                <% for(var i = 0; i < ProductList.length; i++) { %>
                    <tr>
                        <td></td>
                        <td><%= ProductList[i].ProductId %></td>
                        <td><%= ProductList[i].ProductName %></td>
                        <td><%= ProductList[i].Brand %></td>
                        <td><%= ProductList[i].Color %></td>
                        <td><%= ProductList[i].SellingPrice %></td>
                        <td><%= ProductList[i].Quantity %></td>
                        <td><%= ProductList[i].ReorderPoint %></td>
                        <% var Availability = ""; %>
                        <% if(ProductList[i].Quantity >= ProductList[i].ReorderPoint  + 10) {Availability = "High"; %>
                        <% }else if(ProductList[i].Quantity >= ProductList[i].ReorderPoint + 5) {Availability = "Medium"; %>
                        <% }else if(ProductList[i].Quantity <= ProductList[i].ReorderPoint) {Availability = "Low";} %>
                        <td><%= Availability %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>

        <div class="container d-flex justify-content-end">
            <button type="button" class="btn btn-secondary m-2" id="delete_modal_button" data-toggle="modal" data-target="#delete_modal" disabled>Delete</button>
            <button type="button" class="btn btn-secondary m-2" id="edit_modal_button" data-toggle="modal" data-target="#edit_modal" disabled>Edit</button>
          <button type="button" class="btn btn-secondary m-2" id="add_modal_button" data-toggle="modal" data-target="#add_modal">Add</button>
        </div>
        
    </div>

    <!-- inventory view product pop up -->
    <div class="modal fade" id="details_modal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="close_details_modal">&times;</button>
                </div>
                <div class="modal-body bg-secondary">
                     
                    <div class="container mb-3 mt-3">

                        <div class="row">
                            <div class="col-5">
                                <img src="/images/placeholder.png" class="img-fluid">
                            </div>

                            <div class="col-7">

                                <div id="details_product_name" class="h3">Product Name: <span></span></div>
                                <br>
                                <p id="details_price" class="h3">Price: <span></span></p>
                                <br>
                                <p id="details_quantity" class="h3">Quantity: <span></span></p>
                                <br>
                                <p id="details_variations" class="h3">Variations: <span></span></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- inventory view add product pop-up -->
    <div class="modal fade" id="add_modal" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">

                <div class="modal-header bg-secondary border-0"></div>
                
                <div class="modal-body bg-secondary">
                    <form id="inventory-add-product-form">
                        <table class="table table-bordered text-center bg-light" id="add_product_table">
                            <thead>
                                <tr>
                                    <th colspan="8" class="h2">Add Product</th>
                                </tr>
                                <tr>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Brand</th>
                                    <th scope="col">Color</th>
                                    <th scope="col">SRP</th>
                                    <th scope="col">Buying Price</th>
                                    <th scope="col">QTY On Hand</th>
                                    <th scope="col">Reorder Point</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control-file" id="add_product_name1">
                                        <p class="text-danger text-error" id="add_product_name_error1"></p>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control-file" id="add_brand1">
                                        <p class="text-danger text-error" id="add_brand_error1"></p>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control-file" id="add_color1">
                                        <p class="text-danger text-error" id="add_color_error1"></p>
                                    </td>
                                    <td>
                                        <input type="number" class="form-control-file" id="add_selling_price1">
                                        <p class="text-danger text-error" id="add_selling_price_error1"></p>
                                    </td>
                                    <td>
                                        <input type="number" class="form-control-file" id="add_buying_price1">
                                        <p class="text-danger text-error" id="add_buying_price_error1"></p>
                                    </td>
                                    <td>
                                        <input type="number" class="form-control-file" id="add_quantity1">
                                        <p class="text-danger text-error" id="add_quantity_error1"></p>
                                    </td>
                                    <td>
                                        <input type="number" class="form-control-file" id="add_reorder_point1">
                                        <p class="text-danger text-error" id="add_reorder_point_error1"></p>
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <button type="button" class="btn btn-secondary mr-2" id="add_product_add_row_button"><span class="fas fa-plus"></span></button>
                                            <button type="button" class="btn btn-secondary" id="add_product_delete_row_button" disabled><span class="fas fa-trash"></span></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-light float-right" id="add_product_button">Add</button>
                        <button type="button" class="btn btn-light float-right mr-3" data-dismiss="modal" id="close_add_modal">Cancel</button>
                        
                    </form>
                    
                    
                </div>

                <div class="modal-footer bg-secondary border-0"></div>
            </div>
        </div>
    </div>

     <!-- inventory view edit product pop-up -->
     <div class="modal fade" id="edit_modal" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">

                <div class="modal-header bg-secondary border-0"></div>
                
                <div class="modal-body bg-secondary">
                     
                    <table class="table table-bordered text-center bg-light" id="edit_product_table">

                        <thead>
                            <tr>
                                <th colspan="7" class="h2">Edit Product</th>
                            </tr>
                            <tr>
                                <th scope="col">Product ID</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Brand</th>
                                <th scope="col">Color</th>
                                <th scope="col">SRP</th>
                                <th scope="col">QTY On Hand</th>
                                <th scope="col">Reorder Point</th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" class="form-control-file" id="edit_product_id1" disabled>
                                </td>
                                <td>
                                    <input type="text" class="form-control-file" id="edit_product_name1">
                                    <p class="text-danger" id="edit_product_name_error1"></p>
                                </td>
                                <td>
                                    <input type="text" class="form-control-file" id="edit_brand1">
                                    <p class="text-danger" id="edit_brand_error1"></p>
                                </td>
                                <td>
                                    <input type="text" class="form-control-file" id="edit_color1">
                                    <p class="text-danger" id="edit_color_error1"></p>
                                </td>
                                <td>
                                    <input type="number" class="form-control-file" id="edit_selling_price1">
                                    <p class="text-danger" id="edit_selling_price_error1"></p>
                                </td>
                                <td>
                                    <input type="number" class="form-control-file" id="edit_quantity1">
                                    <p class="text-danger" id="edit_quantity_error1"></p>
                                </td>
                                <td>
                                    <input type="number" class="form-control-file" id="edit_reorder_point1">
                                    <p class="text-danger" id="edit_reorder_point_error1"></p>
                                </td>
                            </tr>
                        
                        </tbody>
            
                    </table>
                    
                    <button type="button" class="btn btn-light float-right" id="edit_product_button">Edit</button>
                    <button type="button" class="btn btn-light float-right mr-3" data-dismiss="modal" id="close_edit_modal">Cancel</button>
                    
                </div>

                <div class="modal-footer bg-secondary border-0"></div>
            </div>
        </div>
    </div>

    <!-- inventory view add product error pop-up -->
    <div class="modal fade" id="add_error_modal" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-confirm">
            <div class="modal-content">

                <div class="modal-header">
                    <p class="h3">Error!</p>
                </div>
                
                <div class="modal-body text-center">
                    
				<p class="h6" id="add_error_modal_text"></p>
                        
                </div>

                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-secondary float-right mr-3" data-dismiss="modal" id="close_add_error_modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- inventory view edit product error pop-up -->
    <div class="modal fade" id="edit_error_modal" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-confirm">
            <div class="modal-content">

                <div class="modal-header">
                    <p class="h3">Error!</p>
                </div>
                
                <div class="modal-body text-center">
                    
				<p class="h6" id="edit_error_modal_text"></p>
                        
                </div>

                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-secondary float-right mr-3" data-dismiss="modal" id="close_edit_error_modal">Close</button>
                </div>
            </div>
        </div>
    </div>

     <!-- inventory view delete product pop-up -->
     <div class="modal fade" id="delete_modal" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-confirm">
            <div class="modal-content">

                <div class="modal-header">
                    <p class="h3">Are you sure?</p>
                </div>
                
                <div class="modal-body text-center">
                    
				<p class="h6" id="delete_modal_text">Are you sure you want to permanently remove the selected product/s?</p>
                        
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary float-right mr-3" data-dismiss="modal" id="cancel_delete_modal">Cancel</button>
                    <button type="button" class="btn btn-secondary float-right mr-3" id="delete_button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    
    <script src="/script/inventory-view.js"></script>
</body>
</html>