<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style/dashboard.css">
    <%- include('./partials/bootstrap-link.ejs') %>
    <%- include('./partials/table-link.ejs') %>
    <%- include('./partials/head.ejs') %>
</head>
<body>

    <!-- dashboard -->
    <%- include('./partials/nav.ejs') %>
    
    <!-- reorder add supplier -->
    <div class="container mb-3 mt-3">
        
        <div class="row mb-2">
            <div class="col-8 h3">
                    Reorder: Supplier PO
            </div>
        </div>
        
        <header class="text-center h3 bg-secondary">
            <br>
            Supplier PO Form
            <br>
            <br>
        </header>


    <!-- add supplier -->
        <div class="container mt-5">
            <form id="add-supplier-form" onsubmit="return false;">
                <div class="form-info">

                    <div class="form-group row">
                        <label for="supplier_id" class="col-2 col-form-label font-weight-bold">Supplier ID:</label>
                        <input type="text" class="form-control-file col-2" id="supplier_id" value="<%= next_id %>" readonly>
                        
                        <label for="supplier_email" class="col-2 col-form-label font-weight-bold">Supplier Number:</label>
                        <input type="text" class="form-control-file col-2" id="supplier_number" required>
    
                        <label for="supplier_number" class="col-2 col-form-label font-weight-bold">Supplier Email:</label>
                        <input type="text" class="form-control-file col-2" id="supplier_email" required>
                    </div>
    
                    <div class="form-group row">

                        <label for="supplier_name" class="col-2 col-form-label font-weight-bold">Supplier Name:</label>
                        <input type="text" class="form-control-file col-2" id="supplier_name" required>

                        <label for="supplier_address" class="col-2 col-form-label font-weight-bold">Supplier Address:</label>
                        <input type="text" class="form-control-file col-6" id="supplier_address" required>
                    </div>
                </div>

                <header class="h4 bg-secondary text-center">
                    <br>
                    Product Name
                    <br>
                    <br>             
                </header>

                <table class="table table-borderless text-center" id="supplier_add_supplier_table">
                    <thead>
                        <tr>
                            <th style="width: 10%" scope="col" class="font-weight-bold text-right mr-2">#</yh>
                            <th style="width: 25%" scope="col">Name</th>
                            <th style="width: 25%" scope="col">Brand</td>
                            <th style="width: 25%" scope="col">Color</th>
                            <th style="width: 15%" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width: 10%">
                                <p class="col-form-label font-weight-bold text-right mr-2" id="product_number1">1.</p>
                            </td>
                            <td style="width: 25%">
                                <input type="text" class="form-control-file" id="product_name1" required>
                            </td>
                            <td style="width: 25%">
                                <input type="text" class="form-control-file" id="brand1" required>
                            </td>
                            <td style="width: 25%">
                                <input type="text" class="form-control-file" id="color1" required>
                            </td>
                            <td style="width: 15%">
                                <div class="d-flex justify-content-start">
                                    <button type="button" class="btn btn-secondary ml-2 mr-2" id="add_item_button"><span class="fas fa-plus"></span></button>
                                    <button type="button" class="btn btn-secondary" id="delete_item_button" disabled><span class="fas fa-trash"></span></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-secondary float-right m-2" id="submit_button">Submit</button>
                <button type="button" class="btn btn-secondary float-right m-2" id="clear_confirm_button" data-toggle="modal" data-target="#clear_modal">Clear</button>
                <a class="btn btn-secondary float-right m-2" href="reorder-supplier-po-form" role="button" id="back_button">Back</a>
            </form>
        </div>        
        
     <!-- add supplier success pop-up -->
     <div class="modal fade" id="success_modal" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-confirm">
            <div class="modal-content">

                <div class="modal-header">
                    <p class="h3">Success!</p>
                </div>
                
                <div class="modal-body text-center">
                    
				<p class="h6" id="success_modal_text">Supplier added!</p>
                        
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary float-right" id="close_success_modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- add supplier clear pop-up -->
    <div class="modal fade" id="clear_modal" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-confirm">
            <div class="modal-content">

                <div class="modal-header">
                    <p class="h3">Are you sure?</p>
                </div>
                
                <div class="modal-body text-center">
                    
				    <p class="h6" id="clear_modal_text">Are you sure you want to clear all the information on the form?</p>
                        
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary float-right mr-3" data-dismiss="modal" id="cancel_clear_modal">Cancel</button>
                    <button type="button" class="btn btn-secondary float-right mr-3" id="clear_item_button">Clear</button>
                </div>
            </div>
        </div>
    </div>
        
    <!-- error pop-up -->
    <div class="modal fade" id="error_modal" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-confirm">
            <div class="modal-content">

                <div class="modal-header">
                    <p class="h3">Error!</p>
                </div>
                
                <div class="modal-body text-center">
                    
				<p class="h6" id="error_modal_text"></p>
                        
                </div>

                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-secondary float-right mr-3" data-dismiss="modal" id="close_error_modal">Close</button>
                </div>
            </div>
        </div>
    </div>

        






    
    </div> 

    <script src="/script/reorder-add-supplier.js"></script>
</body>
</html>