<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style/dashboard.css">
    <%- include('./partials/bootstrap-link.ejs') %>
    <%- include('./partials/table-link.ejs') %>
    <%- include('./partials/head.ejs') %>

	<script type="text/javascript" >
		$(document).ready(function() {
			$("#sales_order_list_table tbody").on("click", "tr td", function () 
			{
				if ($(this).index() != 0) 
				{   
					var po = $(this).closest("tr").children().eq(1).text();
					$.get('/sales-get-sale', {po: po}, function(result) {
						var id = result.CustomerOrderID;
						var name = result.CustomerName;
						var ordered = result.DateOrdered;
						var pickup = result.PickupDate;
						var physical = result.Physical;
						var online = result.Online;
						var products = result.ProductNames;
						var unitprices = result.ProductUnitPrices;
						var quantities = result.ProductQuantities;
						var prices = result.ProductPrices;
						var total = result.TotalPrice
						
						$("#details_modal").modal("show");
						$("#sales_products").find("tbody").detach();
						$("#sales_products").append($("<tbody>")); 
						$("#customer_po").val(po);
						$("#customer_order_id").val(id);
						$("#customer_name").val(name);
						$("#date_ordered").val(ordered);
						$("#pickup_date").val(pickup);
						
						if(physical == "on")
						{
							$("#physical_checkbox").prop("checked", true);
							$("#online_checkbox").prop("checked", false);
						}
						else if(online == "on")
						{
							$("#online_checkbox").prop("checked", true);
							$("#physical_checkbox").prop("checked", false);
						}
						else
						{
							$("#physical_checkbox").prop("checked", false);
							$("#online_checkbox").prop("checked", false);
						}
						
						for(var i = 0; i < products.length; i++) 
						{ 
							$("#sales_products").last().append(`<tr><td><input type="string" class="form-control" id="products_name" readonly></td><td><input type="number" class="form-control" id="products_unit_price" readonly></td><td><input type="number" class="form-control" id="products_quantity" readonly></td><td><input type="number" class="form-control" id="products_amount" readonly></td></tr>`);
							$("#sales_products tbody").children().eq(i).find("#products_name").val(products[i]);
							$("#sales_products tbody").children().eq(i).find("#products_unit_price").val(unitprices[i]);
							$("#sales_products tbody").children().eq(i).find("#products_quantity").val(quantities[i]);
							$("#sales_products tbody").children().eq(i).find("#products_amount").val(prices[i]);
						}
						
						$("#total").val(total);
					});
				}
			});
		})
	</script>
</head>
<body>

    <!-- dashboard -->
    <%- include('./partials/nav.ejs') %>

    <!-- sales customer order list -->
    <div class="container mb-3 mt-3">
        
        <div class="row mb-2">
            <div class="col-8 h3">
                    Sales: Customer Order List
            </div>
        </div>
        
        <header class="text-center h3 bg-secondary">
            <br>
            Customer Order List
            <br>
            <p >As of today: <span id="current-date"></span></p>
            <br>
        </header>
    
    <!-- data table -->

        <table class="table table-bordered text-center" id="sales_order_list_table">

            <thead>
                <th></th>
                <th scope="col">PO #</th>
                <th scope="col">Date Ordered</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Status</th>
            </thead>
            <tbody>
                <% for(var i = 0; i < SalesList.length; i++) { %>

                    <tr id="sales">
                        <td></td>
                        <td><%= SalesList[i].CustomerPO %></td>
                        <td><%= SalesList[i].DateOrdered %></td>
                        <td><%= SalesList[i].CustomerName %></td>
                        <td><%= SalesList[i].Status %></td>
                    </tr>
                <% } %>
            </tbody>
		</table>

        <div class="container d-flex justify-content-end">
            <button type="button" class="btn btn-secondary m-2" id="delete_button" disabled>Delete</button>
            <button type="button" class="btn btn-secondary m-2" id="edit_button" disabled>Edit</button>
        </div>
        
    </div>

    <!-- sales customer order list PO # pop-up -->
    <div class="modal fade" id="details_modal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="close_details_modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container mt-5">
                        <form>
                            <div class="form-info">
                                <div class="form-group row">
                                    <label for="customer_po" class="col-2 col-form-label font-weight-bold">Customer-PO:</label>
                                    <input type="text" class="form-control-file col-2" id="customer_po" readonly>
                
                                    <label for="customer_name" class="col-2 col-form-label font-weight-bold">Customer Name:</label>
                                    <input type="text" class="form-control-file col-2" id="customer_name" readonly>
                
                                    <label for="date_ordered" class="col-2 col-form-label font-weight-bold">Date Ordered:</label>
                                    <input type="text" class="form-control-file col-2" id="date_ordered" readonly>
                                </div>
                
                                <div class="form-group row">
                                    <label for="customer_order_id" class="col-2 col-form-label font-weight-bold">Customer Order ID:</label>
                                    <input type="text" class="form-control-file col-2" id="customer_order_id" readonly>
                
                                    <div class="col-2 text-center">
                                        <label for="physical_checkbox" class="form-check-label font-weight-bold mt-2">
                                            <input type="checkbox" class="form-check-input" id="physical_checkbox" style="width:20px;height:20px;" disabled>&nbsp&nbspPhysical
                                        </label>
                                    </div>
                                    
                
                                    <div class="col-2 text-center">
                                        <label for="online_checkbox" class="form-check-label font-weight-bold mt-2">
                                            <input type="checkbox" class="form-check-input" id="online_checkbox" style="width:20px;height:20px;" disabled>&nbsp&nbspOnline
                                        </label>    
                                    </div>
                                    
                                    <label for="pickup_date" class="col-2 col-form-label font-weight-bold">Pickup Date:</label>
                                    <input type="text" class="form-control-file col-form-label col-2" id="pickup_date" readonly>
                                </div>
                            </div>

                            <table class="table table-bordered mt-5" id="sales_products">
                                <thead>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Unit Price</th>
                                        <th>Quantity</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>

                                <tfoot>
                                    <tr>
                                        <th colspan="3" class="h4 text-right">Total: </th>
										<th colspan="2" class="h4 text-right"><input type="number" class="form-control" id="total"readonly></th>
                                    </tr>
                                </tfoot>
                            </table>

                            <button type="button" class="btn btn-secondary float-right m-2" id="proceed_button">Proceed</button>
						</form>
                    </div>        
                </div>
            </div>
        </div>
    </div>
	
    <!-- sales customer order tracker status from packing to delivering -->
    <div class="modal fade" id="tracker_status_onroute_modal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="tracker_status_onroute_modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container mt-3">
                        <table class="table table-bordered mt-3">
                            <header class="text-center h4">Confirm Package On-route to Customer</header>
                            <thead>
                                <tr>
                                    <th>PO #</th>
                                    <th>Date Ordered</th>
                                    <th>Customer Name</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="packing_po"></td>
                                    <td id="packing_date_ordered"></td>                                        
                                    <td id="packing_customer_name"></td>
                                    <td id="packing_status"></td>
                                </tr>
                            </tbody>
                        </table>

                        <button type="button" class="btn btn-secondary float-right m-2" id="onroute_confirm_button">Confirm</button>

                    </div>        
                </div>
            </div>
        </div>
    </div>

    <!-- sales customer order tracker status from delivering to received -->
    <div class="modal fade" id="tracker_status_delivered_modal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="tracker_status_delivered_modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container mt-3">
                        <table class="table table-bordered mt-3">
                            <header class="text-center h4">Confirm Package with Customer</header>
                            <thead>
                                <tr>
                                    <th>PO #</th>
                                    <th>Date Ordered</th>
                                    <th>Customer Name</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>                                        
                                    <td></td>
                                    <td>Delivering</td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <button type="button" class="btn btn-secondary float-right m-2" id="onroute_confirm_button">Confirm</button>

                    </div>        
                </div>
            </div>
        </div>
    </div>
	
    <script src="/script/sales-customer-order-list.js"></script>
</body>
</html>