<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style/dashboard.css">
    <%- include('./partials/bootstrap-link.ejs') %>
    <%- include('./partials/table-link.ejs') %>
    <%- include('./partials/head.ejs') %>

	<script type="text/javascript" >
		$(document).ready(function() {
			$("#products").on("click", "#add_row_button", function() {
				$("#products").last().append(`<tr><td><select class="form-control-file" id="product_names" name="ProductNames" required><option value="" selected disabled hidden>Choose item</option><% for(var i = 0; i < ProductList.length; i++) { %><option value="<%= ProductList[i].ProductName %>" label="<%= ProductList[i].ProductName %>"><%= ProductList[i].SellingPrice %></option><% } %></select></td><td><input type="number" class="form-control-file" id="unit_price" name="ProductUnitPrices" readonly></td><td><input type="number" class="form-control-file" id="quantity" name="ProductQuantities" required></td><td><input type="number" class="form-control-file" id="amount" name="ProductPrices" readonly></td><td><button type="button" class="btn btn-secondary" id="add_row_button"><span class="fas fa-plus"></span></button></td><tr>`);
			});
			
			$("#products").on("change", "#product_names", function() {
				$(this).closest("tr").find("#unit_price").val(parseInt($(this).closest("tr").find("#product_names option:selected").text()));
				$(this).closest("tr").find("#amount").val($(this).closest("tr").find("#unit_price").val() * $(this).closest("tr").find("#quantity").val()).trigger("change");
			});
			
			$("#products").on("keyup", "#quantity", function() {
				$(this).closest("tr").find("#amount").val($(this).closest("tr").find("#unit_price").val() * $(this).val()).trigger("change");
			});
			
			$("#products").on("change", "#amount", function() {
				var sum = 0;
				
				$("#products #amount").each(function (){
					sum += parseInt($(this).val());
				});
				
				$("#total").val(sum);
			});
			
			$(document).on("change", "#physical_checkbox", function() {
				if (this.checked)
				{
					$("#online_checkbox").prop("disabled", true);
					$("#online_checkbox").prop("required", false);
				}
				else
				{
					$("#online_checkbox").prop("disabled", false);
					$("#online_checkbox").prop("required", true);
				}
			});
			
			$(document).on("change", "#online_checkbox", function() {
				if (this.checked)
				{
					$("#physical_checkbox").prop("disabled", true);
					$("#physical_checkbox").prop("required", false);
				}
				else
				{
					$("#physical_checkbox").prop("disabled", false);
					$("#physical_checkbox").prop("required", true);
				}
			});
			
			$(document).on("change", "#quantity", function() {
				var productname = $(this).closest("tr").find("#product_names option:selected").val();
				var quantity = $(this).val();
				$.get("/sales-get-product", {productname: productname}, function(result) {
					if (quantity > result.Quantity)
					{
						$("#add_sale_button").prop("disabled", true);
						alert("Product: " + productname + " exceeds the available inventory.");
					}
					else
					{
						$("#add_sale_button").prop("disabled", false);
					}
				});
			});
            $("#sales-add-po-form").on("input", "#date_ordered", function ()
            {
                var input = $(this).val();
                $("#pickup_date").val("");
                $("#pickup_date").prop("disabled", false);
                $("#pickup_date").attr("min", input)
            });


		})
	</script>
</head>
<body>

    <!-- dashboard -->
    <%- include('./partials/nav.ejs') %>
    
    <!-- sales customer PO -->
    <div class="container mb-3 mt-3">
        
        <div class="row mb-2">
            <div class="col-8 h3">
                    Sales: Customer PO
            </div>
        </div>
        
        <header class="text-center h3 bg-secondary">
            <br>
            Customer PO Form
            <br>
            <br>
        </header>


    <!-- customer PO form -->
        <div class="container mt-5">
            <form action="sales-add-po-form" id="sales-add-po-form" method="POST">
                <div class="form-info">
                    <div class="form-group row">
                        <label for="customer_po" class="col-2 col-form-label font-weight-bold">Customer-PO:</label>
                        <input type="text" class="form-control-file col-2" id="customer_po" name="CustomerPO" value="<%= SalesList.length + 1%>" readonly>
    
                        <label for="customer_name" class="col-2 col-form-label font-weight-bold">Customer Name:</label>
                        <input type="text" class="form-control-file col-2" id="customer_name" name="CustomerName" required>
    
                        <label for="date_ordered" class="col-2 col-form-label font-weight-bold">Date Ordered:</label>
                        <input type="date" class="form-control-file col-2" id="date_ordered" name="DateOrdered" required>
                    </div>
    
                    <div class="form-group row">
                        <label for="customer_order_id" class="col-2 col-form-label font-weight-bold">Customer Order ID:</label>
                        <input type="text" class="form-control-file col-2" id="customer_order_id" name="CustomerOrderID" required>
    
                        <div class="col-2 text-center">
                            <label for="physical_checkbox" class="form-check-label font-weight-bold mt-2">
                                <input type="checkbox" class="form-check-input" id="physical_checkbox" name="Physical" style="width:18px;height:18px;" required>&nbsp&nbspPhysical
                            </label>
                        </div>
                        
    
                        <div class="col-2 text-center">
                            <label for="online_checkbox" class="form-check-label font-weight-bold mt-2">
                                <input type="checkbox" class="form-check-input" id="online_checkbox" name="Online" style="width:18px;height:18px;" required>&nbsp&nbspOnline
                            </label>    
                        </div>
                        
                        <label for="pickup_date" class="col-2 col-form-label font-weight-bold">Pickup Date:</label>
                        <input type="date" class="form-control-file col-form-label col-2" id="pickup_date" name="PickupDate" required disabled>
                    </div>
                </div>

                <table class="table table-bordered mt-5 sales-products-table text-center" id="products">
                    <thead>
                        <tr>
                            <th class="productname">Product Name</th>
                            <th class="unitprice">Unit Price</th>
                            <th class="quantity">Quantity</th>
                            <th class="amount">Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select class="form-control-file" id="product_names" name="ProductNames" required>
									<option value="" selected disabled hidden>Choose item</option>
									<% for(var i = 0; i < ProductList.length; i++) { %>
										<option value="<%= ProductList[i].ProductName %>" label="<%= ProductList[i].ProductName %>"><%= ProductList[i].SellingPrice %></option>
									<% } %>
                                </select>
                            </td>
                            <td>
                                <input type="number" class="form-control-file" id="unit_price" name="ProductUnitPrices" readonly>
                            </td>
                            <td>
                                <input type="number" class="form-control-file" id="quantity" name="ProductQuantities" required>
                            </td>
                            <td>
                                <input type="number" class="form-control-file" id="amount" name="ProductPrices" readonly>
                            </td>
                            <td><button type="button" class="btn btn-secondary" id="add_row_button"><span class="fas fa-plus"></span></button></td>
                        </tr>
                    
                    </tbody>

                    <tfoot>
                        <tr>
                            <th colspan="3" class="h4 text-right">Total Amount: </th>
                            <th colspan="2" class="h4 text-left"><input type="number" class="form-control-file" id="total" name="TotalPrice" readonly></th>
                        </tr>
                        
                    </tfoot>
                    
                </table>

				<button type="submit" class="btn btn-secondary float-right" id="add_sale_button">Submit</button>
				
            </form>
        </div>        
    </div>
</body>
</html>