<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style/dashboard.css">
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/bootstrap-link.ejs') %>
    <%- include('./partials/table-link.ejs') %>
</head>
<body>

    <!-- dashboard -->
    <%- include('./partials/nav.ejs') %>
    
    <!-- sales customer order tracker -->
    <div class="container mb-3 mt-3">
        
        <div class="row mb-2">
            <div class="col-8 h3">
                    Sales: Customer Order Tracker
            </div>
        </div>
        
        <header class="text-center h3 bg-secondary">
            <br>
            Customer Order Tracker
            <br>
            As of today: xx, xxxx, xxxx
            <br>
            <br>
        </header>
        
    <!-- data table -->

        <table class="table table-bordered text-center" id="sales_order_list_tracker_table">

            <thead>
                <th></th>
                <th scope="col">PO #</th>
                <th scope="col">Date Ordered</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Status</th>
            </thead>
            <tbody>
                <% for(var i = 0; i < SalesList.length; i++) { %>

                    <tr data-toggle="modal" data-id="<%= SalesList[i].CustomerPO %>" data-target="#details_modal">
                        <td></td>
                        <td><%= SalesList[i].CustomerPO %></td>
                        <td><%= SalesList[i].DateOrdered %></td>
                        <td><%= SalesList[i].CustomerName %></td>
                        <td><%= SalesList[i].Status %></td>
                    </tr>
                <% } %>
            </tbody>

        </table>

        <div class="container d-flex justify-content-end">
            <button type="button" class="btn btn-secondary m-2" id="delete_button" disabled>Delete</button>
        </div>
        
    </div>

    <!-- sales customer order tracker PO # popup -->
    <div class="modal fade" id="details_modal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="close_details_modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container mt-5">
                        <form>
                            <div class="form-info">
                                <div class="form-group row">
                                    <label for="customer_po" class="col-2 col-form-label font-weight-bold">Customer-PO:</label>
                                    <input type="text" class="form-control-file col-2" id="customer_po" readonly>
                
                                    <label for="customer_name" class="col-2 col-form-label font-weight-bold">Customer Name:</label>
                                    <input type="text" class="form-control-file col-2" id="customer_name" readonly>
                
                                    <label for="date_ordered" class="col-2 col-form-label font-weight-bold">Date Ordered:</label>
                                    <input type="text" class="form-control-file col-2" id="date_ordered" readonly>
                                </div>
                
                                <div class="form-group row">
                                    <label for="customer_order_id" class="col-2 col-form-label font-weight-bold">Customer Order ID:</label>
                                    <input type="text" class="form-control-file col-2" id="customer_order_id" readonly>
                
                                    <div class="col-2 text-center">
                                        <label for="physical_checkbox" class="form-check-label font-weight-bold mt-2">
                                            <input type="checkbox" class="form-check-input" id="physical_checkbox" style="width:20px;height:20px;" disabled>&nbsp&nbspPhysical
                                        </label>
                                    </div>
                                    
                
                                    <div class="col-2 text-center">
                                        <label for="online_checkbox" class="form-check-label font-weight-bold mt-2">
                                            <input type="checkbox" class="form-check-input" id="online_checkbox" style="width:20px;height:20px;" disabled>&nbsp&nbspOnline
                                        </label>    
                                    </div>
                                    
                                    <label for="pickup_date" class="col-2 col-form-label font-weight-bold">Pickup Date:</label>
                                    <input type="text" class="form-control-file col-form-label col-2" id="pickup_date" readonly>
                                </div>
                            </div>

                            <table class="table table-bordered mt-5">
                                <thead>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Unit Price</th>
                                        <th>Quantity</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <select class="custom-select" disabled>
                                                <option></option>
                                            </select>

                                        </td>
                                        <td>
                                            <input type="number" class="form-control" id="unit_price" readonly>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" id="quantity" readonly>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" id="amount" readonly>
                                        </td>
                                    
                                    </tr>
                                
                                </tbody>

                                <tfoot>
                                    <tr>
                                        <th colspan="3" class="h4 text-right">Total: </th>
                                        <th colspan="2" class="h4"></th>
                                    </tr>
                                    
                                </tfoot>
                            </table>

                            
                            <button type="button" class="btn btn-secondary float-right m-2" id="proceed_button">Proceed</button>

                        </form>
                    </div>        
                </div>
            </div>
        </div>
    </div>

    <!-- sales customer order tracker status from packing to delivering -->
    <div class="modal fade" id="tracker_status_onroute_modal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="tracker_status_onroute_modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container mt-3">
                        <table class="table table-bordered mt-3">
                            <header class="text-center h4">Confirm Package On-route to Customer</header>
                            <thead>
                                <tr>
                                    <th>PO #</th>
                                    <th>Date Ordered</th>
                                    <th>Customer Name</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>                                        
                                    <td></td>
                                    <td>Packing</td>
                                </tr>
                            </tbody>
                        </table>

                        <button type="button" class="btn btn-secondary float-right m-2" id="onroute_confirm_button">Confirm</button>

                    </div>        
                </div>
            </div>
        </div>
    </div>

    <!-- sales customer order tracker status from delivering to received -->
    <div class="modal fade" id="tracker_status_delivered_modal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="tracker_status_delivered_modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container mt-3">
                        <table class="table table-bordered mt-3">
                            <header class="text-center h4">Confirm Package with Customer</header>
                            <thead>
                                <tr>
                                    <th>PO #</th>
                                    <th>Date Ordered</th>
                                    <th>Customer Name</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>                                        
                                    <td></td>
                                    <td>Delivering</td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <button type="button" class="btn btn-secondary float-right m-2" id="onroute_confirm_button">Confirm</button>

                    </div>        
                </div>
            </div>
        </div>
    </div>
    
    <script src="/script/sales-customer-order-tracker.js"></script>
</body>
</html>